
/* Pantalla seleccionar modo de juego */

.pantallaSeleccionarModo {
    height: 400px;
    width: 600px;
    background-color: #333;
    border: 3px solid lightcyan;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.div-modoDeJuego-comoJugar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.div-como-jugar {
  border-radius: 5px;
  width: 250px;
  padding: 10px;
  text-align: justify;
  background-color: #d6d6e5;
}

.div-como-jugar ul {
  list-style: none;
}

.imagen-container {
    position: relative;
    display: inline-block;
}

.imagen-container img {
  transition: filter 0.3s ease;
}

.imagen-container img:hover {
  filter: brightness(65%);
}

.label-jugar {
    position: absolute;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 24px;
    opacity: 0;
    pointer-events: none; /* Evita que el texto interfiera con el click en la imagen */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.imagen-container:hover .label-jugar {
    opacity: 1;
    transform: translate(-50%, 225%); /* Se mueve hacia abajo o hacia un lado */
}

img {
    cursor: pointer;
}
  
  .labelModoDeJuego {
    display: flex;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
    background-color: #d6d6e5;
  }

  .labelModoDeJuego input {
    position: absolute;
    left: -9999px;
  }

  .labelModoDeJuego input:checked + span:before {
    box-shadow: inset 0 0 0 0.4375em #00005c;
  }

  .labelModoDeJuego span {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.25s ease;
  }

  .labelModoDeJuego span:before {
    display: flex;
    flex-shrink: 0;
    content: "";
    background-color: #fff;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 0.375em;
    transition: 0.25s ease;
    box-shadow: inset 0 0 0 0.125em #00005c;
  }